.CountryDetails {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}
.CountryWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}
.CountryText {
    font-size: 19px;
}
.CountryImage {
    max-width: 300px;
    
}

.CountryDetails img {
    max-width: 400px;
    transition-duration: 0.5s;
    margin: 10px;
}
.CountryDetails img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.CountryCovidInfo {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: flex-start;
    position: absolute;
    left: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.CountryCovidColor {
    width: 100%;
    height: 5px;
    border-radius: 3px;
}
.CountryCovidColor.red {
    background: red;
}
.CountryCovidColor.black {
    background: black;
}
.CountryCovidColor.green {
    background: green;
}
.CountryCovidItem {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    min-width: 30%;
}
.CountryCovidTitle{ 
    font-size: 35px;
}
.CountryCovidSubtitle {
    font-size: 25px;
    font-weight: 500;
}
@media (max-width: 768px) {
    .CountryWrapper {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}